html
{
    //browser font size hack for accessibility to make rem multiple of 10's eg. 1rem = 10px
    font-size: 62.5%;

    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}
body
{
    @include t-copy;

    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
{
    margin-top: 0;
    margin-bottom: 0;
}
p
{
    &:last-child
    {
        margin-bottom: 0 !important;
    }
}

figure
{
    line-height: 0;

    display: inline-block;

    margin: 0;
    img
    {
        max-width: 100%;
    }
    figcaption
    {
        @include t-copy-small;

        margin-bottom: 60px;
        padding-top: 5px;
        padding-bottom: 10px;

        color: $slate-80;
        border-bottom: 1px solid $gray-50;

        @media ($mobile-only)
        {
            margin-bottom: 40px;
        }
    }
}

ul,
ol
{
    @include margin(0 null);

    padding-left: 0;

    list-style: none;
}

input
{
    box-sizing: border-box;

    text-overflow: ellipsis;

    outline: none;
}

main
{
    > section
    {
        padding-top: 140px;
        @media ($mobile-only)
        {
            padding-top: 80px;
        }
    }
}

a
{
    text-decoration: none;
}

#grid-overlay
{
    @include position(absolute, 0);
    @include margin(null auto);
    @include columnizer(1 1 1 1 1 1);

    z-index: $zi-grid;

    display: flex;

    transform: translateX(-10px);
    pointer-events: none;

    opacity: .16;
    background-image: $grid-line;
    background-repeat: repeat-y;
    background-position-x: 100%;
    @media ($mobile-only)
    {
        @include columnizer(3 3);
    }
    > div
    {
        background-image: $grid-line;
        background-repeat: repeat-y;
        @media ($mobile-only)
        {
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6)
            {
                display: none;
            }
        }
    }
}

#content-container
{
    position: relative;
    z-index: $zi-over-grid;
}
