html
{
    //browser font size hack for accessibility to make rem multiple of 10's eg. 1rem = 10px
    font-size: 62.5%;

    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}
body
{
    @include t-copy;

    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
{
    margin-top: 0;
    margin-bottom: 0;
}
p
{
    &:last-child
    {
        margin-bottom: 0 !important;
    }
}

figure
{
    line-height: 0;

    display: inline-block;

    margin: 0;
    img
    {
        max-width: 100%;
    }
}

ul,
ol
{
    @include margin(0 null);

    padding-left: 0;

    list-style: none;
}

input
{
    box-sizing: border-box;

    text-overflow: ellipsis;

    outline: none;
}

a
{
    text-decoration: none;
}
